.addCurrency {
    
    .sixthButton {
        background-image: linear-gradient(#A239CA);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        background-image: linear-gradient(#A239CA, #0E0B16);
    }
    
    
    
}