.alertSaved {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: -15px;
    position: fixed;
    z-index: 1050;
    margin-bottom: 0;
    
    
    .closeAlert{
        color: black;
        position: absolute;
        right: 10px;
        top: 0px;
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
}