.dropDown2 {
    font-size: 20px;
    margin-left: 20px;
    
    .coinName {
        padding-right: 30px;
        margin-left: -20px;
        font-weight: bold;
    }
    
    .settings {
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        margin-left: 15px;
        padding: 4px;
        width: 150px;
        cursor: pointer;
        background-color: #4717F6;
        color: white !important;
    }
    .label1{
        margin-left: 25px;
        margin-right: -30px;
        color: white !important;
        
    
    }

}