.homeEditToggle {
    
    .toggleBody {
        border-right: 5px double #A239CA;
        border-left: 5px double #A239CA;
        background-color: #0E0B16; 
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
}