
.jumbotron.add-alert{
      position: relative;
      top: 0;
      left: 0;
      width: 750px;
      background-color: #0E0B16;
      color: #e7dfdd;
      border: 1px solid #A239CA;
      display: auto;
      transform: translate(56%, -62%);
       
       .deleteX {
        float: right;
        margin-top: -43px;
       }
       
       .btn-secondary {
           float: right;
       }
       
       .form-controlPhone {
           display: block;
           width: 428px;
           padding: 0.375rem 0.75rem;
           font-size: 1rem;
           line-height: 1.5;
           color: #495057;
           background-color: #fff;
           background-clip: padding-box;
           border: 1px solid #ced4da;
           border-radius: 0.25rem;
           transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
       }
       
       .custom-select {
           background: #fff;
           width: 100px;
           margin-left: -8px;
        
       }
       
       .col {
        max-width: 50px;
       }
       
       .display-4 {
        color: #e7dfdd
       }
       
       button.close {
        color: #e7dfdd;
       }
  
}