.confirm {
    
     .modal-header {
         border-bottom: 0;
    }   
     .modal-footer {
         border-top: 0;
    }   
    .btn-lgy {
     width: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     
    }
}