// @import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.homeEdit {
    margin-bottom: 200px;
    margin-top: 72px;
    
    .topRow {
        margin-bottom: 15px;
    }
    
   h1{
       text-align: center;
       border-right: 0;
       border-left: 0;
       text-shadow: 1px 1px 2px #4717F6;
       color: #0E0B16;
       font-size: 50px;
       font-weight: bold;
   }
   
   .title {
        border-right: 0;
        border-left: 0;
        text-shadow: 1px 1px 2px #4717F6;
        color: #0E0B16;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 235px;
        
   }
   
   .topDiv{
        margin-top: 20px;
   }
   
    .logoImg {
        width: 15%;
        height: 15%;
   }
   
   img {
       float: left;
   }
   
   .headerDiv {
       border-top: 1px solid #ced4da;
       
   }
   
   .input-group {
       padding-top: 40px;
       padding-bottom: 5px;
       border-left: 5px double #A239CA;
       border-right: 5px double #A239CA;
       border-top: 5px double #A239CA;
       border-bottom: none;
       background-color: #0E0B16;
       padding-left: 30px;
   }
   
   .searchBar {
       margin-left: 30px;
   }

    .col-lg-6 {
        padding-left: 60px;
        padding-right: 80px;
    }
    
    .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }
   
    .close {
        color: #e7dfdd;
        position: absolute;
        right: 10px;
        top: 5px;
    }
   
    
  .col-center{
    float: none;
    margin: 0 auto;
    
    }
    .firstbutton {
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        margin-left: 30px;
    }
    
    .show > .btn-secondary.dropdown-toggle {
        background-color: #4717F6;
    }
    
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 3.255em;
    }
    
    .btn-light {
        background-color: white;
        border-radius: 5px;
    }
    
    
    
    .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
        border-radius: 5px;
    }
    
    .divBody-edit {
        padding-top: 25px;
        display: inline-block;
        padding-left: 40px;
        padding-right: 75px;
        padding-bottom: 25px;
        border-left: 5px double #A239CA;;
        border-right: 5px double #A239CA;;
        width: 100%;
        background-color: #0E0B16;
    }
    
    .styleElement {
        background-color: #0E0B16;;
    }
    
    .navbar-toggler-icon {
        color: #e7dfdd;
    }
    
    a.nav-link {
        color: #e7dfdd;
    }
    
    .dropdown-content {
        margin-top: 15px;
    }
    
    .secondButton {
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        margin-right: 30px;
        margin-left: -10px;
    }
    
    .thirdButton {
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        margin-right: 30px;
    }
    
    .fourthButton {
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
    }
    
    .fithButton {
        background-image: linear-gradient(#A239CA);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        background-image: linear-gradient(#E7DFDD, #A239CA);
        color: #0E0B16;
    }
    
    .bottomDiv {
        border-right: 5px double #A239CA;
        border-left: 5px double #A239CA;
        border-bottom: 5px double #A239CA;
        background-color: #0E0B16; 
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 30px;
    
    }
    

}