.notificationcard {
    color: #e7dfdd;
    
    .card-body {
        background-color: #0E0B16;
        border: 5px double #A239CA;;
    }
    
    .close {
        color: #e7dfdd;
    }
    
   .badges {
       margin-right: 10px;
   }
    
    .edit {
        float: right;
    }
    .btn-secondary {
        margin-top: 20px;
    }
    
    .btn-success {
        margin-top: 20px;
    }
    
    .badges {
        margin-right: -5px;
    }
    .header {
        border-bottom: 1px solid #e9ecef;
    }
    .btn-light {
        float: right;
        background-color: white;
        border: none;
        margin-right: 5px;
    }
    .badge-success {
        width: 125px;
    }
    
    .badge-danger {
        width: 125px;
    }
    
    .badge-warning {
        width: 125px;
    }
    
    .badge-info-marketCap {
        width: 125px;
        background-color: #A239CA;
    }
    
    .badge-light {
        margin-right: 20px;
    }
}
