.notificationcard {

    .edit {
        float: right;
    }
    .btn-secondary {
        margin-top: 20px;
    }
    .badges {
        
    }
    .header {
        border-bottom: 1px solid #e9ecef;
    }
    .btn-light {
        float: right;
        background-color: white;
        border: none;
    }
}
