.contactus{
    
    .containerTop{
        margin-top: 75px;
    }
    
    .rowMaster{
        
    }
    
    .navbar{
        background-color: black;
    }
    
    .row {
        text-shadow: 1px 1px 2px #4717F6;
       color: #0E0B16;
       font-size: 20px;
       font-weight: bold;
    }
    .btn {
        
        background-image: linear-gradient(#A239CA, #4717F6);
        font-weight: bold;
        border: 1px solid #e7dfdd;
        border-radius: 5px;
        text-shadow: x-offset y-offset blur color;
        box-shadow: 0px 2px 0px #e7dfdd, 0px 1px 10px rgba(0,0,0,.4);
        margin-left: 550px ;
    }
    
    
    
    
    
}