@import '~bootstrap/scss/bootstrap.scss';
@import './components/companyinfo.scss';

.card {
    margin-top: 200px;
    width: 900px;
    height: 800px;
}

.card-header { 
    display: inline-bock;
  
    
}

img {
    height: 100px;
}


