@import '~bootstrap/scss/bootstrap.scss';
@import './components/companyinfo.scss';
@import './components/dropdown.scss';
@import './components/donate.scss';
@import './components/Introduction.scss';
@import './components/DropDown1.scss';
@import './components/DropDown3.scss';
@import 'aboutus.scss';
@import './components/smartselect.scss';
@import './components/FooterBar.scss';
@import './components/navbar.scss';
@import './components/showNotification.scss';
@import './components/alertSaved.scss';
@import './components/AddCurrencyButton.scss';
@import './components/marketCapDropDown.scss';
@import './components/homeEditToggle.scss';
@import './components/listItem.scss';
@import 'add-alert.scss';
@import 'notificationcard.scss';
@import 'homeedit.scss';
@import 'Contactus.scss';
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");