// @import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.showNotifcation {
   
   .headerDiv {
       border-top: 1px solid #ced4da;
   }
   
   h5 {
       color: white;
       text-align: center;
   }
   
   .exis {
    position: absolute;
    right: 20px;
    top: 1px;
   }
   
   .numeroUno {
       padding-top: 5px;
       padding-bottom: 5px;
       border-left: 5px double #A239CA;
       border-right: 5px double #A239CA;
       border-top: 5px double #A239CA;
       border-bottom: none;
       background-color: #0E0B16;
       padding-left: 5px;
   }
   
   .firstNotificationDiv {
       padding-top: 5px;
       padding-bottom: 5px;
       border-left: 5px double #A239CA;
       border-right: 5px double #A239CA;
       border-bottom: 5px double #A239CA;
       background-color: #0E0B16;
       color: lightGrey;
   }
   
    .thaTable {
        border-collapse: collapse;
        width: 100%;
    }
   
    .coinSpan{
        margin-left: 100px;
        font-weight: bold;
    }
    
    .volumeSpan {
        font-weight: bold;
        margin-left: 140px;
    }
    
    .priceSpan {
        font-weight: bold;
        margin-left: 100px;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #282828;
    }
    
    .trashDelete {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        cursor: pointer;
        background-color: white;
        transition: color 0.15s ease-in-out, 
            background-color 0.15s ease-in-out, 
            border-color 0.15s ease-in-out, 
            box-shadow 0.15s ease-in-out;
        
    }

}